{% extends "base.html" %}

{% block content %}
	{% if shouxing %}
		<table>
			<tr>
				<th>今天生日的顾客</th>
				<th>身份证号</th>
			</tr>
			{% for person in shouxing %}
		        <tr>
		        	<td>{{ person.name }}</td>
		        	<td>{{ person.ID_number }}<td>
		        </tr>
	    	{% endfor %}
		</table>	
	{% else %}
		<p>无人今日生日</p>
	{% endif %}
	{% if car_availability %}
		<table>
		  	<tr>
		    	<th>车辆</th>
		    	<th>接下七天出租情况</th>
		  	</tr>
		  	{% for car, reservations in car_availability.items %}
		        <tr>
		        	<td>{{ car }}</td>
		        	<td>
			        	{% for res in reservations %} 
			        		{{ res.startDate }}->{{ res.endDate }},
			        	{% endfor %} 
		        	</td>
		        </tr>
	    	{% endfor %}
		</table>
	{% else %}
	    <p>没有车辆</p>
	{% endif %}
	<a href="/stat/">查询统计信息</a>
	<a href="/customer/">查询客户信息</a>
	<a href="/available_cars/">查询可租车辆</a>
    <a href="/admin/">管理页面</a>
    <a href="/violator/">查询违规顾客</a>
{% endblock content %}